<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="UTF-8">

    <link rel="stylesheet" href="/static/css/signup.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>



<title>Sign UP</title>


</head>
<body>
<div class="card-back">
    <div class="center-wrap">


        <input type="hidden" id="popupType" th:value="${popupType}" />
        <input type="hidden" id="popupMessage" th:value="${popupMessage}" />



        <form method="post" th:action="@{/saveData}" th:object="${customerForm}" class="form">
            <h1 class="text-center">Registration Form</h1>

            <div class="form-step form-step-active">

                    <label for="user_name">User Name</label>
                    <input type="text" id="user_name" name="userName" placeholder="User Name" value="" required/>


                    <label for="email">Email</label>
                    <input type="text" id="email" name="email" placeholder="Email" required  value="" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" title="Enter a valid email address"/>




                    <label for="birth">Birth Date</label>
                    <input type="date" id="birth" name="birthDate" placeholder="Birth Date"  value=""/>


                    <label for="gender">Gender</label>
                    <input type="text" id="gender" name="gender" placeholder="Gender"  value=""/>

                <!-- Add your fields for the third step here -->


                    <label for="pass">Password</label>
                    <input type="password" id="pass" name="password" placeholder="Password" required  value=""/>


                    <label for="conf">Confirm Password</label>
                    <input type="password" id="conf" name="confirmPassword" placeholder="Confirm Password" required  value=""/>

            </div>
<br>
            <button type="submit" id="signup" class="btn">Sign up</button>
        </form>
    </div>
</div>

<script>
    var popupType = document.getElementById('popupType').value;
    var popupMessage = document.getElementById('popupMessage').value ;

    console.log("popupType:", popupType);
    console.log("popupMessage:", popupMessage);

    // Display the popup using alert
    if (popupType === 'success') {
        alert("Success: " + popupMessage);
    } else if (popupType === 'error') {
        alert("Error: " + popupMessage);
    }
</script>

</body>

</html>
